<div class="panel panel-primary" *ngIf="_product">
  <div class="panel-heading">
    {{_product.productName}}
  </div>
  <div class='panel-body'>
    <div class="row">
      <div class='col-md-3'>
        <img src="data:image/jpeg;base64,{{_product.largePhoto}}" class="img-responsive" [style.margin.px]="imageMargin" [style.max-width.px]="imageWidth" [title]="_product.productName | uppercase" />
      </div>
      <div class='col-md-9'>
        <div class="row">
          <div class="col">
            {{ _product.productCode | lowercase | convertToSpaces:'-' }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{_product.description}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ _product.releaseDate }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ _product.price|currency:'USD':true:'1.2-2' }}
          </div>
        </div>

        <div class="row">
          <div class="col">
            <pm-star [rating]="_product.starRating"></pm-star>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <pm-reviews [reviews]="_product.reviews" ></pm-reviews>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <input type="button" (click)="Onback()" class='btn btn-primary' value="Back" />
  </div>
</div>
